# NordVPN / Gluetun
WIREGUARD_PRIVATE_KEY=
NORDVPN_USER_SVC=
NORDVPN_PASS_SVC=

# Database
POSTGRES_PASSWORD=

# Gateway
GATEWAY_PASSPHRASE=

# Hummingbot API (recommended to add to compose)
CONFIG_PASSWORD=

# API auth (recommended to override defaults)
HBOT_API_USERNAME=
HBOT_API_PASSWORD=

# Condor (Telegram)
TELEGRAM_BOT_APP=@condor_hummingbot
TELEGRAM_BOT_NAME=condor_hummingbot_bot
TELEGRAM_TOKEN=
ADMIN_USER_ID=